.banner-wrap{
    position: relative;
    z-index: 500;
    height: .88rem;
    width: 100%;
    background-image: url('./../../assets/bg-banner.png');
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    border-bottom: .02rem solid #2F4F4F;
    box-shadow: 0 .04rem .34rem #2F4F4F;
}
.banner-wrap .day,
.banner-wrap .money-wrap{
    position: absolute;
    left: .14rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .22rem;
    display: block;
    color: #fff;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}
.banner-wrap .day{
    top: .06rem;
    width: 1.5rem;
    height: .23rem;
    line-height: .23rem;
    font-size: .24rem;
    text-align: left;
    color: #afd;
    text-shadow: .12rem 0 .44rem #fff;
}
.banner-wrap .money-wrap{
    top: .35rem;
    width: 2.43rem;
    height: .48rem;
    line-height: .48rem;
    text-align: left;
    font-size: .3rem;
}
.banner-wrap .money-wrap .money{
    color: gold;
}
.banner-wrap .money-wrap .money-preifx{
    color: #fff;
    height: .32rem;
    line-height: .32rem;
    display: inline-block;
    border-radius: .1rem;
    font-size: .24rem;
    width: .58rem;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(255,69,0,1) 0%, rgba(155,69,0,1) 100%);
}
.brand{
    position: absolute;
    display: flex;
    justify-content: space-around;
    padding-top: .24rem;
    z-index: 600;
    top: -1.14rem;
    left: 2.6rem;
    margin: auto;
    width: 2.4rem;
    height: 1.1rem;
    line-height: 1.1rem;
    color: #146;
    font-weight: bold;
    font-size: .34rem;
    text-align: center;
    text-shadow: 0 0 .04rem #fff;
    background-image: url('./../../assets/banner-brand.png');
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    animation: .3s 1s pulldown1 ease-in-out forwards;
}
@keyframes pulldown1 {
    60%{
        top: -.06rem;
    }
    100%{
        top: -.18rem;
    }
}
.btn-gear,
.btn-simbat,
.pop-gear .btn{
    display: block;
    width: .78rem;
    height: .78rem;
    line-height: .72rem;
    font-size: .24rem;
    background-image: linear-gradient(to right bottom, rgba(7,29,29,1)  0%, rgba(67,99,99,1) 100%);
    border-left: .06rem solid #acd;
    border-bottom: .06rem solid #134;
    border-right: .06rem solid #134;
    border-top: .06rem solid #acd;
    border-radius: 50%;
    font-weight: bold;
    text-shadow: 0 0 .4rem #000;
}
.btn-gear{
    position: absolute;
    top: .02rem;
    right: .08rem;
    z-index: 3;
}
.pop-gear{
    position: absolute;
    width: .78rem;
    top: -100%;
    right: .08rem;
    display: block;
    z-index: 450;
    padding-top: .5rem;
    /* background-image: linear-gradient(to right, rgba(67,99,99,0) 0%, rgba(7,7,7,1) 30%, rgba(7,7,7,1) 70%, rgba(67,99,99,0) 100%); */
    animation: .3s pulldown2 ease-in-out forwards;
}
@keyframes pulldown2 {
    60%{
        top: .82rem;
    }
    100%{
        top: .62rem;
    }
}
.pop-gear .pop-gear-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: .374rem;
    height: calc( 100% - .2rem );
    background-image: url('./../../assets/banner-chain.png');
    background-size: contain;
    background-position: right;
    background-repeat: repeat-y;
    z-index: 5;
}
.pop-gear .btn{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: .3rem;
    z-index: 10;
}
.pop-gear .btn:last-child{
    margin-bottom: 0;
}
.pop-gear .btn-save{

}
.pop-gear .btn-restart{

}
