/* <div class="pop-checkout" v-if="award.show" @onTapClose="onTapClosePop">
    <div class="row row-title">
        战斗结算
    </div>
    <div class="row row-money">
        <label class="title">获得金币：</label>
        <span class="value money" v-html="`${common.moneyFormat(award.gold)} $`"></span>
    </div>
    <div class="row row-battery" v-if="award.battery">
        <label class="title">获得能量：</label>
        <span class="value battery">{{award.battery}}</span>
    </div>
    <div class="row row-equips">
        <label class="title">获得装备：</label>
        <div class="equip" :class="`${equip.t==1?'weapon':''}`" v-for="equip of award.equipList">
            <span class="type">{{[`🗡️`,`🎩`,`🧥`,`💍`,`🥾`,][equip.t-1]}}</span>
            <span class="name">{{equip.n}}</span>
        </div>
    </div>
    <div class="row row-guard" v-if="award.guard">
        <label class="title">警戒值提升：</label>
        <span class="value guard">{{award.guard}}</span>
    </div>
</div> */
.pop-checkout{
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    min-height: 1.5rem;
    width: 7.5rem;
    margin: 0 auto;
    z-index: 700;
    padding-bottom: .4rem;
    color: #fff;
    overflow: hidden;
    animation: areward .5s ease-in-out forwards;
}
@keyframes areward{
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.pop-checkout .row{
    position: relative;
    display: block;
    z-index: 20;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    min-height: .4rem;
    font-size: .3rem;
    margin-bottom: .04rem;
}
.pop-checkout .row-title{
    color: #f1ff74;
    white-space: nowrap;
    word-break: keep-all;
    text-shadow: 0 0 .12rem #000;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    font-size: .4rem;
    animation: arewardtitle1 .5s .5s ease-in-out,arewardtitle2 .6s .5s ease-in;
    animation-iteration-count: 1, 1;
}
@keyframes arewardtitle1{
    50%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes arewardtitle2{
    20%{
        text-shadow: -4px 4px 2px #000;
    }
    40%{
        text-shadow: -4px -4px 2px #000;
    }
    60%{
        text-shadow: 4px -4px 2px #000;
    }
    80%{
        text-shadow: 4px 4px 2px #000;
    }
    100%{
        text-shadow: 0 0 6px #000;
    }
}

.pop-checkout .row-money,
.pop-checkout .row-battery,
.pop-checkout .row-guard{
    padding-left: .1rem;
    height: .6rem;
    line-height: .6rem;
    background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100% );
}
.pop-checkout .row-money .title,
.pop-checkout .row-battery .title{
    text-shadow: 0 0 .1rem #000;
}
.pop-checkout .row-money .value,
.pop-checkout .row-battery .value{
    display: inline-block;
    width: 3rem;
    padding-left: .2rem;
    height: 100%;
    text-align: left;
    font-weight: bold;
}

.pop-checkout .row-equips{
    line-height: .6rem;
}
.pop-checkout .row-equips-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.pop-checkout .row-equips .title{
    text-shadow: 0 0 .1rem #000;
    display: block;
    text-align: left;
    width: 100%;
    border-bottom: .01rem solid #fff;
}
.pop-checkout .row-equips .equip{
    min-width: .6rem;
    padding-left: .1rem;
    padding-right: .3rem;
    background-image: linear-gradient(to right, rgba(25,25,25,1) 0%, rgba(25,25,25,1) 80%, rgba(0,0,0,0) 100% );
    margin-top: .06rem;
}
.pop-checkout .row-equips .equip .type{

}
.pop-checkout .row-equips .equip .name{

}
.pop-checkout .row-equips .weapon{
    background-image: linear-gradient(to right, rgba(44,16,105,1) 0%, rgba(44,16,105,1) 90%, rgba(255,255,255,0) 100% );
}
.pop-checkout .row-guard .guard{
    color: #CD812C;
    font-weight: bold;
}

.checkout-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .9;
    background-image: linear-gradient(to right, transparent 0%, orangeRed 20%, gold 80%, transparent 100%);
    background-repeat: repeat-x;
    z-index: 10;
    animation: arewardshadow .5s .2s ease-in-out forwards;
}
@keyframes arewardshadow{
    50%{
        transform: translateX(-100%);
    }
    51%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
.checkout-shadow .light{
    position: absolute;
    height: 200%;
    width: .04rem;
    background-color: #fff;
    left: 150%;
    right: -50%;
    top: -50%;
    bottom: -50%;
    transform: rotateZ(32deg);
    box-shadow: 0 0 .24rem .18rem #fff;
    z-index: 10;
    animation: arewardlight 1s linear infinite;
}
@keyframes arewardlight{
    0%{
        opacity: 0;
        left: -50%;
        right: 150%;
    }
    45%{
        opacity: .1;
    }
    55%{
        opacity: .1;
    }
    100%{
        opacity: 0;
        left: 150%;
        right: -50%;
    }
}






















*{}
