/* 弹窗-单位-装备 */
.unit-equip-board{
    padding: .04rem .06rem;
}
.unit-equip-board .btn{
    box-shadow: 0 0 .14rem orangeRed inset;
    background-image: none;
    border: .02rem solid orangeRed;
}
.unit-equip-board .unit-body{
    position: relative;
    width: 100%;
    height: 8.4rem;
    margin: .22rem auto .6rem;
    border-radius: .22rem;
    overflow: hidden;
    box-shadow: 0 0 .54rem .02rem #acf;
}
.unit-body-bg{
    position: absolute;
    width: 4.5rem;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: .9;
}

.unit-body-equip-wrap{
    position: absolute;
    background-color: rgba(108,108,108,.3);
    width: 1rem;
    height: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    transition: .13s all;
}
.unit-body-equip{
    width: 100%;
    height: 100%;
}
.unit-body-weapon1{
    width: 2rem;
    height: 3.8rem;
    top: 3rem;
    left: 0;
    right: auto;
}
.unit-body-weapon2{
    width: 2rem;
    height: 3.8rem;
    top: 3rem;
    right: 0;
    left: auto;
}
.unit-body-accessory1{
    top: 0;
    left: 0;
    width: 2rem;
    height: 2.8rem;
    right: auto;
}
.unit-body-accessory2{
    top: 0;
    right: 0;
    width: 2rem;
    height: 2.8rem;
    left: auto;
}
.unit-body-helmet{
    width: 2rem;
    height: 1.8rem;
    top: 0;
    margin: 0 auto;
}
.unit-body-armor{
    width: 2rem;
    top: 2rem;
    height: 4.8rem;
    margin: 0 auto;
}
.unit-body-shoes{
    width: 6.3rem;
    height: 1.4rem;
    top: auto;
    bottom: 0;
    margin: 0 auto;
}
.unit-body-equip-wrap-expand{
    width: 90%;
    height: auto;
    top: auto;
    bottom: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: .16rem;
    background-color: #131313;
    border: .04rem solid orangeRed;
    box-shadow: 0 0 .54rem orangeRed;
    border-radius: .2rem;
    z-index: 44;
}
.unit-body-equip-wrap-expand .unit-body-equip{

}
.unit-body-op{
    text-align: right;
    padding: .04rem .06rem 0;
}
.unit-body-op .btn{
    padding: 0 .2rem;
    height: .55rem;
    line-height: .55rem;
    font-size: .3rem;
}

/* 弹窗-单位-背包 */
.unit-bag{
    padding-top: .02rem;
    background-color: #131313;
    padding-bottom: 3rem;
}
.unit-bag-title{
    position: relative;
    height: .6rem;
    line-height: .6rem;
    margin: .02rem 0;
    text-align: left;
    font-size: .28rem;
    padding-left: .1rem;
    border-left: .06rem solid #fff;
}
.unit-bag-title .bag-title{

}
.unit-bag-title .bag-op{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
}
.unit-bag-title .btn{
    height: .55rem;
    line-height: .55rem;
    padding: 0 .2rem;
}
.unit-bag-title .btn-bag-title-sellAll{

}
.unit-bag-title .btn-bag-title-moveAll{

}
