/* <Cover class="code-picker-cover" v-if="showCodePickerCover&&award.codeList.length>0" :tip="`选择 ${award.codePickingCount} 个作弊码：`">
    <div class="pop-code-picker-wrap">
        <div class="pop-code-picker-tip">作弊码是游戏系统以外的功能。每条作弊码的使用次数会在每次进入地牢时自动充满。</div>
        <a class="btn-code" @click.stop="onTapPickCode(code)" v-for="code in award.codeList">
            <span class="code-name">[ {{code.name}} ]</span>
            <span class="code-desc">{{code.desc}}</span>
            <span class="code-count"><span class="code-count-inner" v-if="code.count[0]>1">已拥有 {{code.count[0]}}</span></span>
        </a>
    </div>
</Cover> */
.code-picker-cover{
    width: 100%;
    padding-top: .5rem !important;
    justify-content: flex-start !important;
}
.pop-code-picker-tip{
    width: 100%;
    height: 1rem;
    line-height: .4rem;
    text-align: left;
    padding: .08rem;
    color: #aaa;
    font-size: .22rem;
}
.pop-code-picker-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 7.5rem;
    padding: .06rem;
    padding-top: .12rem;
    background-color: #131313;
    margin-top: .5rem;
    height: calc( 100% - .9rem );
}
.pop-code-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc( 100% - 1rem );
    overflow-y: auto;
    padding-bottom: .8rem;
}
.pop-code-picker-wrap .btn-code{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    border: .02rem solid orangeRed;
    height: 1.2rem;
    line-height: .5rem;
    padding-right: .08rem;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: .08rem;
}
.pop-code-picker-wrap .btn-code .code-name,
.pop-code-picker-wrap .btn-code .code-desc,
.pop-code-picker-wrap .btn-code .code-count{
    display: block;
}
.pop-code-picker-wrap .btn-code .code-name{
    height: .3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: .3rem;
    color: orangeRed;
    white-space: nowrap;
    word-break: keep-all;
    padding-left: .08rem;
    line-height: .6rem;
}
.pop-code-picker-wrap .btn-code .code-desc{
    height: .7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: left;
    line-height: .3rem;
    color: #fff;
    padding: 0 .08rem;
}
.pop-code-picker-wrap .btn-code .code-count{
    display: block;
    margin-left: .08rem;
    font-weight: normal;
    color: #6af;
    font-size: .2rem;
}
