.pop-tarven{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform-origin: 93% 76%;
    transform: scale(0);
    transition: .2s all;
    z-index: 300;
    background-color: #001;
}
.pop-tarven-expand{
    transform: scale(1);
}
.pop-tarven .tarven-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../../assets/bg-tarven.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}
.pop-tarven-expand .tarven-bg{
    animation: tarven-bg-fade .3s .3s ease-in-out forwards;
}
@keyframes tarven-bg-fade{
    to{
        opacity: .4;
    }
}
.bartender{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: .7rem;
    line-height: .7rem;
    margin-bottom: .3rem;
}
.bartender .btn{
    width: 1.2rem;
    height: .4rem;
    line-height: .4rem;
    margin-right: .1rem;
    border: .02rem solid orangeRed;
    background-image: none;
}
.bartender-divider{
    margin-bottom: .2rem;
}
.pop-tarven .tarven-tabs-wrap{
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    width: 7rem;
    margin: 0 auto;
    height: calc( 100% - 3.9rem );
    /* background-color: rgba(0,0,0,.8); */
    z-index: 1;
    color: #fff;
}
.tarven-cot{
    display: block;
    /* height: calc( 100% -  ); */
    /* overflow-x: hidden;
    overflow-y: scroll; */
    padding: .2rem .24rem;
    line-height: .24rem;
    /* padding-bottom: 2rem; */
}
.tarven-shop{

}
.tarven-inmate{

}
.tarven-wanted{
    padding-bottom: 2rem;
}

.tarven-wanted .wanted{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1rem;
    padding-left: .25rem;
    padding-right: .5rem;
    width: 100%;
    color: #000;
    margin-bottom: .2rem;
    background-image: url('./../../assets/bg-roll.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.wanted .stamp{
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.8rem;
    height: .65rem;
    line-height: .55rem;
    font-size: .5rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    transform: rotateZ(9deg);
}
.wanted-2 .stamp{
    border: .06rem solid #e81313;
    color: #e81313;
}
.wanted-4 .stamp{
    border: .06rem solid #13a843;
    opacity: .7;
    color: #13a843;
}
.wanted .title{
    width: 3rem;
    height: .85rem;
    text-align: center;
    line-height: .35rem;
}
.wanted .title .name,
.wanted .title .expire{
    height: 50%;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
}
.wanted .title .name{
    height: .55rem;
    line-height: .55rem;
    font-size: .33rem;
}
.wanted .title .expire{
    height: .3rem;
    line-height: .3rem;
}
.wanted-2 .title{
    text-decoration: line-through;
    color: #555;
}
.wanted .gold{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 11%, rgba(0,0,0,.8) 90%, rgba(0,0,0,0) 100%);
}
.wanted .gold .btn-check-wanted{
    height: .6rem;
    line-height: .6rem;
    padding: 0 .1rem;
    white-space: nowrap;
    word-break: keep-all;
    border: .02rem solid orangeRed;
    background-image: none;
    animation: checkWanted .5s ease-in-out infinite alternate;
}
@keyframes checkWanted {
    to{
        box-shadow: 0 0 .4rem orangeRed;
    }
}
