/* 菜单 */
.menu-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2.8rem;
    padding-top: .1rem;
    /* background-image: url('./../../assets/bg-menu.png'); */
    background-image: linear-gradient(to bottom, rgba(5,55,5,1) 0%,rgba(10,35,15,1) 20%,rgba(10,35,15,1) 80%, rgba(10,35,15,1) 100%);
    box-shadow: 0 -.01rem .04rem rgba(155,255,155,1);
    background-size: 115% 160%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 7000;
    transition: all .2s;
}
.menu-wrap-expand{
    height: 100%;
}
.icon-arrow-down{
    position: absolute;
    top: -.8rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: .7rem;
    height: .6rem;
    /* background-image: url('./../../assets/arrow-down.png'); */
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 10;
    animation: arrowFloat .5s ease-in-out infinite alternate;
}
@keyframes arrowFloat {
    to{
        top: -.6rem;
    }
}

/* 单位 */
.unit-list-group{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.unit-list-group .unit-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    margin: 0 1%;
    height: 90%;
    position: relative;
    background-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    border-bottom: .01rem solid #111;
}
.unit-list-group .unit-item-cur{
    background-image: linear-gradient(to top, rgba(217,152,56,.99) 0%, rgba(147,122,56,0) 100%);
}
.unit-list-group .unit-item .unit{
    display: block;
    width: 1.5rem;
    padding-top: .2rem;
    /* background-color: rgba(0,0,0,.2); */
}
.unit-list-group .unit-item .unit-avatar{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}
.unit-bar{
    position: relative;
    display: block;
    height: .3rem;
    width: 100%;
    margin: .04rem 0;
}
.unit-list-group .anchor{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: .3rem;
    height: .5rem;
    line-height: .2rem;
    color: #fff;
    z-index: 40;
    font-size: .2rem;
    border: .01rem solid #fff;
    text-align: center;
}
